.yui3-overlaybox {
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.yui3-overlaybox-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.yui3-overlaybox-invisible {
    visibility: hidden;
}

.yui3-overlaybox-hidden {
    display: none;
}
